@{
    ViewData["Title"] = "Błąd 404";
}

<div class="d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center">
        <img src="~/imgs/404.png" alt="404" class="img-fluid" />
        <h1 class="text-center">Nie znaleziono żądanych zasobów :(</h1>
        <a class="btn btn-primary mt-3 mb-5 p-3 fs-5" asp-controller="Posts" asp-action="Index">Strona główna</a>
        <img src="~/imgs/404v2.gif" alt="404v2" class="img-fluid" />
    </div>
</div>
