@{
    ViewData["Title"] = "Błąd 404";
}

<div class="d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center">
        <img src="~/imgs/404.png" alt="404" />
        <h1>Nie znaleziono żądanych zasobów :(</h1>
        <a class="btn btn-primary my-3" asp-controller="Posts" asp-action="Index">Strona główna</a>
    </div>
</div>
