<div class="col-12 col-lg-4 col-xl-3 position-sticky p-0"
     style="height: 600px; width:300px; top: 98px;">
    <aside>
        <img src="~/imgs/ad@(new Random().Next(1,7)).png" alt="Ad" />
    </aside>
</div>
