@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Zmień hasło";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<form id="change-password-form" method="post">
    <div class="form-group my-3">
        <div class="form-floating">
            <input class="form-control" placeholder="OldPassword" id="floatingTextareaOldPassword" asp-for="Input.OldPassword" />
            <label for="floatingTextareaOldPassword" asp-for="Input.OldPassword"></label>
        </div>
        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    <div class="form-group my-3">
        <div class="form-floating">
            <input class="form-control" placeholder="NewPassword" id="floatingTextareaNewPassword" asp-for="Input.NewPassword" />
            <label for="floatingTextareaNewPassword" asp-for="Input.NewPassword"></label>
        </div>
        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group my-3">
        <div class="form-floating">
            <input class="form-control" placeholder="ConfirmPassword" id="floatingTextareaConfirmPassword" asp-for="Input.ConfirmPassword" />
            <label for="floatingTextareaConfirmPassword" asp-for="Input.ConfirmPassword"></label>
        </div>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button id="change-password-button" type="submit" class="btn btn-primary py-2 px-4">
            <span class="mr-3"><i class="far fa-save"></i></span>
            Zmień hasło
        </button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
