@page
@model IndexModel
@{
    ViewData["Title"] = "Profil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<form id="profile-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group my-3">
        <div class="form-floating">
            <input class="form-control" placeholder="Username" id="floatingTextareaUsername" asp-for="Username" disabled />
            <label for="floatingTextareaUsername" asp-for="Username"></label>
        </div>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
