@model List<PostsIndexViewModel>
@{
    ViewData["Title"] = "Strona główna";
}

@if (TempData["SuccessAlert"] != null)
{
    <div class="alert alert-success">
        <i class="fas fa-check-circle me-2"></i>@TempData["SuccessAlert"]
    </div>
}

<table class="table">
    @foreach (var post in Model)
    {
        <tr>
            <td>
                <a asp-controller="Posts" asp-action="Details" asp-route-postId="@post.Id">
                    @post.Title
                </a>
            </td>
        </tr>
    }
</table>
