.form-control {
    background-color: #414141 !important;
    color: #fff !important;
}

.form-floating > label {
    color: #fff !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px #262740 inset;
    transition: background-color 5000s ease-in-out 0s;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 30px;
        width: 30px;
        left: 0px;
        bottom: 4px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        box-shadow: 0 0px 15px #2020203d;
        background: white url('https://i.ibb.co/FxzBYR9/night.png');
        background-repeat: no-repeat;
        background-position: center;
    }

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

#descriptionTextarea {
    min-height: 200px;
}

.tags-input-wrapper-default {
    background-color: #414141 !important;
    border: 1px solid #222 !important;
}

    .tags-input-wrapper-default > input {
        color: #fff !important;
    }

        .tags-input-wrapper-default > input::placeholder {
            color: #fff !important;
        }

a {
    text-decoration: none;
}

.drop-down-noarrow::after {
    display: none;
}

.outline-none {
    outline: none !important;
}

.commentsBtn {
    color: grey;
    background-color: transparent;
    border: none;
    padding: 15px 0;
    transition: 0.4s;
}

    .commentsBtn:hover {
        color: white;
    }

.commentsBtn-active {
    color: white;
    box-sizing: border-box;
    border-bottom: 3px solid white;
    padding-bottom: 12px;
}

#commentTextarea {
    min-height: 150px;
}

.newComment div.card {
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes blink {
    50% {
        -webkit-box-shadow: 0px 0px 12px 6px rgba(255, 255, 255, 1);
        -moz-box-shadow: 0px 0px 12px 6px rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 12px 6px rgba(255, 255, 255, 1);
    }
}

.deleteCommentAnim {
    animation-name: squish;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes squish {
    100% {
        transform: scaleY(0);
    }
}

.btn > * {
    pointer-events: none;
}

.page-link {
    padding: 0.75rem 0.9rem;
}
