@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Zapomniałeś hasła?";
}


<div class="row">
    <h1 class="col-lg-6 offset-lg-3">@ViewData["Title"]</h1>
    <h2 class="col-lg-6 offset-lg-3">Podaj swój adres email</h2>
    <hr class="col-lg-6 offset-lg-3" />
    <div class="col-lg-6 offset-lg-3">
        <form method="post">
            <div class="form-group my-3">
                <div class="form-floating">
                    <input class="form-control" placeholder="Email" id="floatingTextareaEmail" asp-for="Input.Email" />
                    <label for="floatingTextareaEmail" asp-for="Input.Email"></label>
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button id="register" type="submit" class="btn btn-primary py-2 px-4">
                    <span class="mr-3"><i class="fas fa-check"></i></span>
                    Zatwierdź
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
