@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Wyślij email potwierdzający ponownie.";
}

<div class="row">
    <h1 class="col-lg-6 offset-lg-3">@ViewData["Title"]</h1>
    <h2 class="col-lg-6 offset-lg-3">Podaj swój adres email.</h2>
    <hr class="col-lg-6 offset-lg-3" />
    <div class="col-lg-6 offset-lg-3">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-3">
                <div class="form-floating">
                    <input class="form-control" placeholder="Email" id="floatingTextareaEmail" asp-for="Input.Email" />
                    <label for="floatingTextareaEmail" asp-for="Input.Email"></label>
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Wyślij</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
